/* geral*/

body, h1, p, span {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    background-color: #0f1722;
}

h1 {
    color: white;
    text-align: center;
    margin: 30px 0;
}

/* calculadora */

#calculator {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #1d293a;
    padding-top: 20px;
    padding-bottom: 50px;
}

#screen_calc {
    width: 258px;
    height: 70px;
    border: 1px solid #354357;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    text-align: right;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

#screen_calc #screen_operators, #screen_results{
    float: right;
    color: #fff;
}



#screen_results {
    padding-top: 5px;
    font-size: 22px;
    font-weight: bold;
    clear: both;
}

/* buttons */

/* #buttons {
    position: relative;
    margin: 0 auto;
    width: 300px;

} */

#btn_container {
    position: relative;
    margin: 0 auto;
    width: 300px;
    margin-bottom: 15px;

} 

.btn {
    margin: 0 7.5px;
    width: 50px;
    height: 50px;
    background-color: #3f516a;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background-color: #6666aa;
}

#zero_btn, #equals_btn {
    width: 120px;
}

#ac {
    margin-left: 7.5px;
}

#division_btn {
    position: absolute;
    right: 28px;
}